<header class="bg-gray-200 p-8">
	<nav class="container flex items-center justify-between">
		<a class="flex items-center" href="/">
			<span class="w-8 h-8 text-gray-600">
				{% include '_svg/logo.svg' %}
			</span>
			<span class="block ml-2 font-bold">
				Craft Starter
			</span>
		</a>
		<div class="space-x-4">
			<a class="underline" href="/">Home</a>
			<a class="underline" href="/about">About</a>
		</div>
	</nav>
</header>
