<header class="bg-gray-200 p-8">
	<nav class="container flex items-center justify-between">
		<a class="block w-64" href="/">
			{% include '_svg/logo.svg' %}
		</a>
		<div class="space-x-4">
			<a class="underline" href="/">Home</a>
			<a class="underline" href="/about">About</a>
		</div>
	</nav>
</header>
